---
apiVersion: awx.ansible.com/v1beta1
kind: AWX
metadata:
  name: {{ deploy_awx_name }}
  namespace: {{ deploy_awx_namespace }}
spec:
  service_type: clusterip
  ingress_type: Ingress
  ingress_class_name: traefik
  ingress_hosts:
  - hostname: {{ deploy_awx_hostname }}
